<template name="report">
	{{> usermenu}}

	{{generateReport}}
	<div id="content">
		<h3>Identify your strengths and weaknesses:</h3>
		<p>Report by course:</p>
		{{> courseReport}}

		<p>Report by tag:</p>
		{{> tagReport}}

		<p>Report by sub tag:</p>
		{{> atagReport}}
	</div>

</template>

<template name="courseReport">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Rate</td>
				<td>Level</td>
				<td>Questions with this tag</td>
				<td>Description</td>
			</tr>
	{{#each getCourseReport}} 
			<tr>
				<td>{{rvalue}}</td>
				<td>{{rate}}</td>
				<td>{{level}}</td>
				<td><a href=''>Inspect more</a></td>
				<td>Confusion between greater than and less than</td>
			</tr>
	{{/each}}
		</table>
</template>

<template name="tagReport">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Rate</td>
				<td>Level</td>
				<td>Questions with this tag</td>
				<td>Description</td>
			</tr>
	{{#each getTagReport}} 
			<tr>
				<td>{{rvalue}}</td>
				<td>{{rate}}</td>
				<td>{{level}}</td>
				<td><a href=''>Inspect more</a></td>
				<td>Confusion between greater than and less than</td>
			</tr>
	{{/each}}
		</table>
</template>


<template name="atagReport">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>Rate</td>
				<td>Level</td>
				<td>Questions with this tag</td>
				<td>Description</td>
			</tr>
	{{#each getATagReport}} 
			<tr>
				<td>{{rvalue}}</td>
				<td>{{rate}}</td>
				<td>{{level}}</td>
				<td><a href=''>Inspect more</a></td>
				<td>Confusion between greater than and less than</td>
			</tr>
	{{/each}}
		</table>
</template>



