<template name="report">
	{{> usermenu}}

	<div id="content">
		<h3>Identify your strengths and weaknesses:</h3>
		{{generateReport}}
		
		<xmp>
		question tag: 
			1. math > mcompare  a. percent b. decimal
			2. math > mequal  a. percent b. decimal

		3 level report:
			1. subject level
			2. tag level by comma
			3. atag level by comma

		
		Realtime report on client:

		Subject
		Tag

		</xmp>

		<table class="table">
			<tr>
				<td>Tag</td>
				<td>Rate</td>
				<td>Level</td>
				<td>Questions with this tag</td>
				<td>Description</td>
			</tr>
			<tr>
				<td>greater than</td>
				<td>30%</td>
				<td>Entry</td>
				<td><a href=''>Inspect more</a></td>
				<td>confusion between greater than and less than</td>
			</tr>
		</table>
	</div>

</template>
