body{background: #d6d2d2;
    color: #0a0a0a;
}

.container {
  background: white;
  width: 80%;
  height: auto;
  position: relative;
  margin: auto;
}

#login-dropdown-list {
	left: -80px;
}

#div_footer{
	background-image: linear-gradient(to bottom, #403e42, #403e42);
	width: 100%;
	height: 80px;
	position: relative;
	margin: auto;
	text-align:center ;
	color: #eee9e9;
}

.navbar-inner
	{
		background-image: linear-gradient(to bottom, #222123, #222123);
	}

.hr_footer{margin:0px;
			height:1px;
			border:0px;
			background-color:#D5D5D5;
			

			}
.navbar .brand{
	color: #f3eeee;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover{color: #f3eeee;}
.navbar .nav > li > a {color:#faf5f5;}
