<template name="addQuestion">
	<div>
		Add a new question
		<form action="" name="addQuestionForm" id="addQuestionForm" class="form-horizontal">
			<div class="form-group">
				<label for="inputEmail" class="control-label col-xs-2">Title</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
				</div>
			</div>
			<div class="form-group">
				<label for="inputEmail" class="control-label col-xs-2">Title</label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Title" name="Title" placeholder="Title">
				</div>
			</div>
		</form>
		<a href="" class='btn-success'>ddddd</a>
	</div>
</template>