<template name="addQuestion">
	{{> usermenu}}

	<div>
		Add a new question
		<form action="" name="addQuestionForm" id="addQuestionForm" class="form-horizontal">
			<div class="form-group">
				<label for="Question" class="control-label col-xs-2">Question: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Question" name="Question" placeholder="Question">
					<input type="checkbox" name="QuestionChecked" id="QuestionChecked">
					<input type="text" class="form-control" id="QuestionTag" name="QuestionTag" placeholder="QuestionTag">
					<input type="text" class="form-control" id="QuestionExp" name="QuestionExp" placeholder="QuestionExp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer1" class="control-label col-xs-2">Answer1: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer1" name="Answer1" placeholder="Answer1">
					<input type="checkbox" name="Answer1Checked" id="Answer1Checked">
					<input type="text" class="form-control" id="Answer1Tag" name="Answer1Tag" placeholder="Answer1Tag">
					<input type="text" class="form-control" id="Answer1Exp" name="Answer1Exp" placeholder="Answer1Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer2" class="control-label col-xs-2">Answer2: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer2" name="Answer2" placeholder="Answer2">
					<input type="checkbox" name="Answer2Checked" id="Answer2Checked">
					<input type="text" class="form-control" id="Answer2Tag" name="Answer2Tag" placeholder="Answer2Tag">
					<input type="text" class="form-control" id="Answer2Exp" name="Answer2Exp" placeholder="Answer2Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer3" class="control-label col-xs-2">Answer3: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer3" name="Answer3" placeholder="Answer3">
					<input type="checkbox" name="Answer3Checked" id="Answer3Checked">
					<input type="text" class="form-control" id="Answer3Tag" name="Answer3Tag" placeholder="Answer3Tag">
					<input type="text" class="form-control" id="Answer3Exp" name="Answer3Exp" placeholder="Answer3Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer4" class="control-label col-xs-2">Answer4: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer4" name="Answer4" placeholder="Answer4">
					<input type="checkbox" name="Answer4Checked" id="Answer4Checked">
					<input type="text" class="form-control" id="Answer4Tag" name="Answer4Tag" placeholder="Answer4Tag">
					<input type="text" class="form-control" id="Answer4Exp" name="Answer4Exp" placeholder="Answer4Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer5" class="control-label col-xs-2">Answer5: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer5" name="Answer5" placeholder="Answer5">
					<input type="checkbox" name="Answer5Checked" id="Answer5Checked">
					<input type="text" class="form-control" id="Answer5Tag" name="Answer5Tag" placeholder="Answer5Tag">
					<input type="text" class="form-control" id="Answer5Exp" name="Answer5Exp" placeholder="Answer5Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer6" class="control-label col-xs-2">Answer6: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer6" name="Answer6" placeholder="Answer6">
					<input type="checkbox" name="Answer6Checked" id="Answer6Checked">
					<input type="text" class="form-control" id="Answer6Tag" name="Answer6Tag" placeholder="Answer6Tag">
					<input type="text" class="form-control" id="Answer6Exp" name="Answer6Exp" placeholder="Answer6Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer7" class="control-label col-xs-2">Answer7: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer7" name="Answer7" placeholder="Answer7">
					<input type="checkbox" name="Answer7Checked" id="Answer7Checked">
					<input type="text" class="form-control" id="Answer7Tag" name="Answer7Tag" placeholder="Answer7Tag">
					<input type="text" class="form-control" id="Answer7Exp" name="Answer7Exp" placeholder="Answer7Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer8" class="control-label col-xs-2">Answer8: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer8" name="Answer8" placeholder="Answer8">
					<input type="checkbox" name="Answer8Checked" id="Answer8Checked">
					<input type="text" class="form-control" id="Answer8Tag" name="Answer8Tag" placeholder="Answer8Tag">
					<input type="text" class="form-control" id="Answer8Exp" name="Answer8Exp" placeholder="Answer8Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer9" class="control-label col-xs-2">Answer9: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer9" name="Answer9" placeholder="Answer9">
					<input type="checkbox" name="Answer9Checked" id="Answer9Checked">
					<input type="text" class="form-control" id="Answer9Tag" name="Answer9Tag" placeholder="Answer9Tag">
					<input type="text" class="form-control" id="Answer9Exp" name="Answer9Exp" placeholder="Answer9Exp">
				</div>
			</div>
			<div class="form-group">
				<label for="Answer10" class="control-label col-xs-2">Answer10: </label>
				<div class="col-xs-10">
					<input type="text" class="form-control" id="Answer10" name="Answer10" placeholder="Answer10">
					<input type="checkbox" name="Answer10Checked" id="Answer10Checked">
					<input type="text" class="form-control" id="Answer10Tag" name="Answer10Tag" placeholder="Answer10Tag">
					<input type="text" class="form-control" id="Answer10Exp" name="Answer10Exp" placeholder="Answer10Exp">
				</div>
			</div>
			<div class="form-group" >
				<div class="col-xs-12" style="text-align:center">
					<input type="reset" value="Reset">
					<input type="submit" value="Submit" class="btn-success">
				</div>
			</div>
		</form>
	</div>
</template>