<template name="usermenu">
	<div id="usermenu">
		<ul class="nav nav-tabs">
			<li class="active"> 
				<a href="{{pathFor 'dashboard'}}" class="btn-default">Home</a>
			</li>
			<li>
				<a href="{{pathFor 'practice'}}" class="btn-primary">Practice</a>
			</li>
			<li>
				<a href="{{pathFor 'dashboard'}}" class="btn-success">Report</a>
			</li>
			<li>
				<a href="{{pathFor 'dashboard'}}" class="btn-info">Resources</a>
			</li>
			<li>
				<a href="{{pathFor 'dashboard'}}" class="btn-warning">Help</a>
			</li>
			<li>
				<a href="{{pathFor 'addQuestion'}}" class="btn-danger">Add Question</a>
			</li>
		</ul>
	</div>
</template>