<template name="practice">
	{{> usermenu}}

	<div id="content">
		<div class="wrapper">
			<form>
				{{#with userQuestion}}
				{{> single}}
				{{/with}}
				<input type="hidden" name="userQuestId" id="userQuestId" value="{{_id}}">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</template>

<template name="single">
	{{#with findQuestionById questId}}
	{{{this.quest.val}}}
	{{#each this.anwsers}}
	<p><input type="radio" name="questAnswer" value="{{label}}"> {{{val}}}</p>
	{{/each}}
	{{/with}}
</template>

<template name="multiple">
</template>

<template name="blankfill">
</template>